* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    line-height: 1.6;
    font-size: 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 30px;
    position: relative;
    margin-bottom: 0;
}

.nav-right {
    font-family: 'playfair display';
    color: #d4af37;
    font-style: italic;
}

.nav-left {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-left a {
    color: wheat;
    text-decoration: none;
    position: relative;
}


.nav-left a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.nav-left a:hover::after {
    width: 100%;
}


.hamburger {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
}


@media (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .nav-left {
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height:100vh;
        background: #000000;
        z-index: 1000;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .nav-left.show {
        display: flex;
    }
}

.about-product {
    background-image: url("./asts/9.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
}
.about-overly {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.slid-down {
    font-family: 'playfair display';
    color: #e7e6e2;
}

.about-product::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.733);
}

.contect {
    background-color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  
}


.contect h2 {
    font-family: 'playfair display';
    color: transparent;
    -webkit-text-stroke: 0.4px #d4af37;

}

.contect p {
    color: white;
}

.conect-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}

.conect-info i {
    border: 2px solid #d4af37;
    border-radius: 40%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.itme{
    border-left: 1px solid #e9e1c63a ;
    padding: 15px;
}
.itme p {
    font-size: medium;
    padding-top: 10px;

}

#map {
    height: 250px;
    width: 70%;
    border-radius:20px;
    margin: auto;
    background-color: #22222244;
}
@media (max-width: 768px) {
    .form-item{
        display: flex;
        flex-wrap: wrap;
    }
}

.form-item{
    display: flex;
    background-color: black;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px;
    gap: 70px;
}
.first-form h1{
    color: transparent;
    -webkit-text-stroke:1px #f3c613;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-family: 'playfair display';
    font-style: italic;
}
.first-form{
    padding-top: 20px;
}
.first-form h3{
   color: white;
}
.first-form p{
    display: inline-block;
    color: white;
}
form{
    max-width: 400px;
    margin: 0 auto;
}
form label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
form input,textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #f3c6138c;
    border-radius: 20px;
    resize: none;
    background-color: #2222224b;
    
}
.form{
   background-color: black;
}
form button{
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px;
    width: 150px;
    background-color:  #f3c613;
    border: none;
    margin-left: 120px;
}